:root{
  --divTop: 200px;
  --divLeft: 200px;
}

@value --AccentColor from "./root.css";

.BtnCreateDiv{
    position: absolute;
    top: 30%;
    left: 30%;
}

@keyframes fade-In {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.ActualDiv {
  animation: fade-In 0.05s;
  -webkit-animation: fade-In 0.05s;
  width: 320px;
  height: 320px;
  top: var(--divTop);
  left: var(--divLeft);
  /* background-color: red; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: Arial, sans-serif;
  }
  .tstDiv {
    width: 320px;
    height: 320px;
    justify-content: center;
    padding: 60px;
    background-color: aliceblue;
  }
  .tstDiv form {
    margin-bottom: 10px;
  }
  .tstDiv input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }
  /* .tstDiv button:hover {
    background-color: var(--LightGray);
  } */
  .tstDiv .icon {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .DraggableDiv {
    animation: fade-In 0.05s;
    -webkit-animation: fade-In 0.05s;
    width: 320px;
    height: 30px;
    top: var(--divTop);
    left: var(--divLeft);
    background-color: var(--BaseColor);
    position: absolute;
    justify-content: left;
    padding-left: 15px;
    vertical-align: middle;
    color: white;
    font-family: Arial, sans-serif;   
  }
  .minimize{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 0px;
    background-color: green;
    opacity: 1;
  } 
  .CloseR{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 0px;
    background-color: red;
    opacity: 1;
  }
  
  .resize-handle {
    bottom: 0px;
    /* background-color: var(--AccentColor); */
    background-color: var(--BaseColor);
    position: absolute;
  }
  .s {
    width: 320px;
    height: 5px;
    cursor: s-resize;
    left: 0px;
  }
  .e {
    width: 5px;
    height: 320px;
    cursor: e-resize;
    right: 0px;
  }
  .w {
    width: 5px;
    height: 320px;
    cursor: w-resize;
    left: 0px;
  }
  .se {
    width: 5px;
    height: 5px;
    cursor: se-resize;
    right: 0px;
  }
  .sw {
    width: 5px;
    height: 5px;
    cursor: sw-resize;
    left: 0px;
  }