:root{
  --divTop: 200px;
  --divLeft: 200px;
}

.BtnCreateDiv{
    position: absolute;
    top: 30%;
    left: 30%;
}

@keyframes fade-In {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.line {
  position: absolute;
  z-index: 9984;
  stroke-width: 20px;
  stroke: var(--Black);
}

.ActualDiv {
  animation: fade-In 0.05s;
  -webkit-animation: fade-In 0.05s;
  width: 320px;
  height: 320px;
  top: var(--divTop);
  left: var(--divLeft);
  /* background-color: red; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--Black);
  font-family: Arial, sans-serif;
  min-width: 290px; min-height: 290px;
  }
  .tstDiv {
    width: 320px;
    height: 320px;
    justify-content: center;
    /* padding: 60px; */
    background-color: aliceblue;
    min-width: 290px; min-height: 290px;
  }
  /* .tstDiv form {
    margin-bottom: 10px;
  } */
  .tstDiv input[type="text"] {
    width: 80%;
    padding: 5px;
    left: 10%;
    position: absolute;
    /* display: inline-block; */
    outline: var(--Black) solid min(1rem, 1vh);
  }
  .tstDiv .icon {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .DraggableDiv {
    animation: fade-In 0.05s;
    -webkit-animation: fade-In 0.05s;
    width: 320px;
    height: 30px;
    top: var(--divTop);
    left: var(--divLeft);
    background-color: var(--BaseColor);
    position: absolute;
    justify-content: left;
    padding-left: 15px;
    vertical-align: middle;
    color: var(--White);
    font-family: Arial, sans-serif; 
    min-width: 290px;
  }
  .minimize{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 0px;
    background-color: green;
    opacity: 1;
  } 
  .CloseR{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 0px;
    background-color: red;
    opacity: 1;
  }
  
  .resize-handle {
    bottom: 0px;
    /* background-color: var(--AccentColor); */
    background-color: var(--BaseColor);
    position: absolute;
  }
  .s {
    width: 320px;
    height: 5px;
    cursor: s-resize;
    left: 0px;
    min-width: 290px;
  }
  .e {
    width: 5px;
    height: 320px;
    cursor: e-resize;
    right: 0px;
    min-height: 290px;
  }
  .w {
    width: 5px;
    height: 320px;
    cursor: w-resize;
    left: 0px;
    min-height: 290px;
  }
  .se {
    width: 5px;
    height: 5px;
    cursor: se-resize;
    right: 0px;
  }
  .sw {
    width: 5px;
    height: 5px;
    cursor: sw-resize;
    left: 0px;
  }

  .arrow{
    border: solid var(--Black);
    height: 4px;
    width: 4px;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    left: calc(100% - 60px + min(1rem, 1vh));
 }

 .linha{
    width: 8px;
    height: 4px;
    background-color: var(--Black);
    position: absolute;
    left: calc(100% - 60px + min(1rem, 1vh));
    pointer-events: none;
 }

 .right{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
 }