#container{
    height: calc(100vh - 100px);
    width: 100vw; 
    position: fixed; 
    background-color: #ffffff;
    top:100px; 
    left:0px;
}
.opaque{
    opacity: 0.1;
}

.linha-horizontal {
    border: 1px solid #80b9e0;
    width: 100vw;
    position: absolute;
}

.linha-vertical {
    border: 1px solid #80b9e0;
    height: 100vh;
    position: absolute;
}

.linha-horizontal:nth-child(4n) {
    border-width: 1px;
    z-index: 1;
    border-color: black;
}

.linha-vertical:nth-child(4n) {
    border-width: 1px;
    z-index: 1;
    border-color: black;
}

#searchBar{
    position: absolute;
    height: 3rem;
    width: 90vw;
    top: 1.5rem;
    left: 5vw;
    padding-left: 2vw;
    border: 0px;
    border-radius: 1rem;
    z-index: 2;
    font-size: 1.5rem;
    outline: #f0f0f0 solid 3px;
    box-shadow: 6px 5px 7px #0000001f;
}

#searchBar:focus{
    transition: 100ms;
    outline: #d1d1d1 solid 3px;
}

#searchBar:hover{
    transition: 100ms;
    background-color: #fdfdfd;
}

#lupa{
    height: 1.5rem;
    width: 1.5rem;
    z-index: 2;
    position: absolute;
    left: calc(93vw - 1rem);
    top: 2.25rem;
    cursor: pointer;
}
#lupa:hover{
    transition: 100ms;
    transform: scale(110%);
}