#container{
    height: calc(100vh - 100px);
    width: 100vw; 
    position: fixed; 
    background-color: var(--White);
    top:100px; 
    left:0px;
}
.opaque{
    opacity: 0.1;
}

.dot {
    /* transform: rotate(1deg); */
    height: 1px;
    margin: 5px;
    width: 1px;
    background-color: var(--Black);;
    position: absolute;
}

.linha-horizontal {
    border: 1px solid var(--AzulClaroBkg);
    width: 100vw;
    position: absolute;
    pointer-events: none;
}

.linha-horizontal:nth-child(4n) {
    border-width: 1px;
    z-index: 1;
    border-color: var(--Black);
}

.linha-horizontal:nth-child(16n) {
    border-width: 1px;
    z-index: 1;
    border-color: var(--Red);
}

.linha-vertical {
    border: 1px solid var(--AzulClaroBkg);
    /* transform: rotate(1deg); */
    height: 100vh;
    position: absolute;
}

.linha-vertical:nth-child(4n) {
    border-width: 1px;
    z-index: 1;
    border-color: var(--Black);;
}

.linha-vertical:nth-child(16n) {
    border-width: 1px;
    z-index: 1;
    border-color: var(--Red);
}