html > * {
    scroll-behavior: smooth;
    font-size: 16px;
    color: var(--Black);
}
p{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
::placeholder {
    color: var(--Black);
    opacity: 0.7; /* Firefox */
  }  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--Black);
    opacity: 0.5;
  }

.topMenu{
    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: var(--AccentColor);
    z-index: 3;
}
.noCopy{
    user-select: none;
}

#ColorHC{
    position: absolute;
    top: 20px;
    right: 62px;
    width: 62px;
    height: 16px;
    border: 0px;
    padding: 0px;
    display: none;
}

#tema{
    position: absolute;
    background-color: var(--WhiteSwitch);
    top: 34px;
    height: 32px;
    width: 62px;
    right: 62px;
    font-weight: bold;
    border-radius: 16px;
    /* outline: thin solid var(--White); */
}

#HCtema{
    position: absolute;
    background-color: var(--WhiteSwitch);
    bottom: 20px;
    height: 32px;
    width: 62px;
    right: 62px;
    font-weight: bold;
    border-radius: 16px;
    padding: 3px 5px 0px 5px;
    display: none;
}

#HCCircle{
    border-radius: 50%;
    height: 26px;
    width: 26px;
    z-index: 5;
    background-color: var(--Black);
    transition: margin-left 150ms ease-in;
}

#HC{
    position: absolute;
    background-color: var(--WhiteSwitch);
    top: 34px;
    height: 32px;
    width: 32px;
    right: 15px;
    font-weight: bold;
    padding-top: 5px;
    border-radius: 16px;
    font-size: 0.9rem;
}

#HC, #tema, #HCtema, #BTNoutraLista {
    cursor: pointer;
}

#tema > svg{
    pointer-events: none; 
    fill: var(--Yellow);
}

#temaCircle{
    border-radius: 50%;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 3px;
    z-index: 5;
    left: 5px;
    background-color: var(--WhiteSwitchCircle);

    transition: left 150ms ease-in;
}

#sun, #moon{
    position: absolute;
    top: 8px;
    position: inherit;
    height: 15px;
    width: 15px;
}

#sun{
    right: 7px;
    transition: fill 150ms ease-out;
}

#moon{
    left: 7px;
    transition: fill 150ms ease-in;
}

#list{
    z-index:initial;
    background-color: var(--SecondAccentColor);
    color: var(--WhiteBTN);
    border-width: 0px;
    transition: color 0.05s;
    -webkit-transition: color 0.05s;
}
#list:hover{
    /* background-color: var(--White); */
    color: var(--AlmostWhite);
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

div.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#contato{
    position: fixed;
    /* height: 30vh; */
    width: 99vw;
    left: 0.5vw;
    top: 100vh;
    height: 40vh;
    padding: 20px;
    background-color: var(--AccentColor);
    border-radius: 20px;
    transition: top 0.3s;
    -webkit-transition: top 0.3s;
    z-index: 999;
}

.NVMdoCopy{
    user-select: all;
}

#answer:focus{
    outline: 0px;
}
#answer{
    color:var(--LightGrayBTN);
    background-color: var(--SecondAccentColorCalc);
    caret-color: var(--LightGrayBTN);
    border-width: 0px;
    height: 10vh;
    padding-left: 10px;
    width: 95%;
    top: 10vh;
    left: 1vw;
    font-size: max(1rem, 10vh);
    position: absolute;
}
#preAns{
    color: var(--LightGrayBTN);
    background-color: var(--SecondAccentColorCalc);
    border-width: 0px;
    height: 7vh;
    width: 92%;
    top: 21vh;
    left: 2vw;
    font-size: max(1rem, 6vh);
    position: absolute;
}
#caneta{
    background-color: var(--LightGray);
    height: 90vh;
    width: 14vw;
    left: 0vw;
    top: 5vh;
    border: 5px;
    border-radius: 1rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    overflow: hidden;
}
.grid-container {
    display: grid;
    align-content: center;
}
.contato{
    margin: 0px; 
    top: 10px;
}
.contato:first-child{
    margin-left: calc(1.5rem + 20px);
}

#github{
    position: absolute; 
    left: 20px; 
    top: 20px;
}
#github > a > img{
    height: 1.5rem;
    display: initial;
}
#github > a:last-child{
    display: none;
    left: calc(50vw - 1.5rem);
}

.grid-item-number {
    background-color: var(--RealDarkBlueCalc);
    border: 0px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: min(10vh, max(10vw, 1rem));
    text-align: center;
    color: var(--LightGrayBTN); 
    border-radius: 1rem;
}
.grid-item-operandos{
    position: relative;
    cursor: pointer;
    border: 0px;
    color: var(--AccentColorBTN);
    margin: 0px;
    font-size: min(8vh, max(8vw, 1rem));
    text-align: center;
}
.grid-item-extra{
    background-color: var(--AccentColorExtra);
    border: 0px;
    color: var(--RealDarkBlueBTN); 
    font-size: min(5.5vh, max(5.5vw, 1rem));
    text-align: center;
    height: calc(64vh / 5);
}