html > * {
    scroll-behavior: smooth;
    font-size: 16px;
    color: var(--Black);
}
p{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
::placeholder {
    color: var(--Black);
    opacity: 0.7; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--Black);
    opacity: 0.5;
  }

.topMenu{
    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: var(--AccentColor);
    z-index: 3;
}

.noCopy{
    user-select: none;
}

#tema{
    position: absolute;
    background-color: var(--SecondAccentColor);
    top: 0px;
    height: 100%;
    width: 70px;
    right: 0px;
    font-weight: bold;
}

#tema > svg:first-child { /* minha teoria é que a primeira criança do id é um elemento escondido*/
    display:none;
}

#tema > svg{
    pointer-events: none; 
    fill: var(--Black);
}

#sun, #moon{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#list{
    z-index:initial;
    background-color: var(--SecondAccentColor);
    color: var(--White);
    border-width: 0px;
    transition: color 0.05s;
    -webkit-transition: color 0.05s;
}
#list:hover{
    /* background-color: var(--White); */
    color: antiquewhite;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

div.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#contato{
    position: fixed;
    /* height: 30vh; */
    width: 99vw;
    left: 0.5vw;
    top: 100vh;
    height: 40vh;
    padding: 20px;
    background-color: var(--AccentColor);
    border-radius: 20px;
    transition: top 0.3s;
    -webkit-transition: top 0.3s;
    z-index: 999;
}
#answer:focus{
    outline: 0px;
}
#answer{
    color:var(--LightGray);
    background-color: var(--SecondAccentColor);
    border-width: 0px;
    height: 10vh;
    width: 95%;
    top: 10vh;
    left: 1vw;
    font-size: max(1rem, 10vh);
    position: absolute;
}
#preAns{
    color:var(--LightGray);
    background-color: var(--SecondAccentColor);
    border-width: 0px;
    height: 7vh;
    width: 92%;
    top: 20vh;
    left: 2vw;
    font-size: max(1rem, 6vh);
    position: absolute;
}
#caneta{
    background-color: var(--LightGray);
    height: 90vh;
    width: 14vw;
    left: 0vw;
    top: 5vh;
    border: 5px;
    border-radius: 1rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    overflow: hidden;
}
.grid-container {
    display: grid;
    align-content: center;
}
.contato{
    margin: 0px; 
    top: 10px;
}
.contato:first-child{
    margin-left: calc(1.5rem + 20px);
}

#github{
    position: absolute; 
    left: 20px; 
    top: 20px;
}
#github > a > img{
    height: 1.5rem;
    display: initial;
}
#github > a:last-child{
    display: none;
    left: calc(50vw - 1.5rem);
}

.grid-item-number {
    background-color: var(--RealDarkBlue);
    border: 0px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: min(10vh, max(10vw, 1rem));
    text-align: center;
    color: var(--LightGray); 
    border-radius: 1rem;
}
.grid-item-operandos{
    position: relative;
    cursor: pointer;
    border: 0px;
    color: var(--AccentColor);
    margin: 0px;
    font-size: min(8vh, max(8vw, 1rem));
    text-align: center;
}
.grid-item-extra{
    background-color: var(--AccentColor);
    border: 0px;
    color: var(--RealDarkBlue); 
    font-size: min(5.5vh, max(5.5vw, 1rem));
    text-align: center;
    height: calc(64vh / 5);
}