html{
    scroll-behavior: smooth;
}
.topMenu{
    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: var(--AccentColor);
    z-index: 3;
}
.noCopy{
    user-select: none;
}

#tema{
    position: absolute;
    background-color: var(--SecondAccentColor);
    top: 0px;
    height: 100%;
    width: 70px;
    right: 0px;
}

#list{
    z-index:inherit;
    background-color: var(--SecondAccentColor);
    color: var(--White);
    border-width: 0px;
    transition: color 0.05s;
}
#list:hover{
    /* background-color: var(--White); */
    color: antiquewhite;
    transition: color 0.2s;
}

div.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#contato{
    position: fixed;
    /* height: 30vh; */
    width: 99vw;
    left: 0.5vw;
    top: 100vh;
    height: 40vh;
    padding: 20px;
    background-color: var(--AccentColor);
    border-radius: 20px;
    transition: 0.3s;
    z-index: 999;
}
#answer:focus{
    outline: 0px;
}
#answer{
    color:var(--LightGray);
    background-color: var(--SecondAccentColor);
    border-width: 0px;
    height: 10vh;
    width: 95%;
    top: 10vh;
    left: 1vw;
    font-size: 10vh;
    position: absolute;
}
#preAns{
    color:var(--LightGray);
    background-color: var(--SecondAccentColor);
    border-width: 0px;
    height: 7vh;
    width: 92%;
    top: 20vh;
    left: 2vw;
    font-size: 6vh;
    position: absolute;
}
#caneta{
    background-color: var(--LightGray);
    height: 90vh;
    width: 14vw;
    left: 0vw;
    top: 5vh;
    border: 5px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    overflow: hidden;
}
.grid-container {
    display: grid;
    align-content: center;
}
.contato{
    margin:0px; 
    top:10px;
}
.grid-item-number {
    background-color: var(--RealDarkBlue);
    border: 0px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 10vh;
    text-align: center;
    color: var(--LightGray); 
}
.grid-item-operandos{
    position: relative;
     cursor: pointer;
    border: 0px;
    color: var(--AccentColor);
    margin: 0%;
    font-size: 8vh;
    text-align: center;
}
.grid-item-extra{
    background-color: var(--AccentColor);
    border: 0px;
    color: var(--RealDarkBlue); 
    font-size: 6vh;
    text-align: center;
    height: 13vh;
}