.absolute{
    position: absolute;
}
.margin{
    margin: 0px;
}

#pesquisa {
    text-align: center;
    display: none;
    padding: 0px;
    width: calc(100vw - 2px);
    left: 0px;
    top: 4rem;
    /* border: 1px solid var(--Black); */
    border-radius: 5px;
    background-color: var(--White);
    z-index: 3;
}

.resposta{
    padding: 10px;
    background-color: var(--WhiteFocus);
    z-index: 3;
    width: 90vw;
}
.resposta:hover{
    cursor: pointer;
}
.resposta:nth-child(even){
    padding: 10px;
    background-color: var(--LightGray);
}

#lista {
    position: absolute;
    top: 4.5rem;
    left: 5vw;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    z-index: 3;
    box-shadow: -6px 5px 7px var(--AlmostTransparent);
}

#searchBar{
    position: absolute;
    height: 3rem;
    width: 90vw;
    top: 1.5rem;
    left: 5vw;
    padding-left: 2vw;
    background-color: var(--White);
    border: 0px;
    border-radius: 1rem;
    z-index: 2;
    font-size: 1.5rem;
    /* outline: var(--AlmostWhite) solid 3px; */
    box-shadow: -6px 5px 7px var(--AlmostTransparent);
    caret-color: var(--Black);
    color: var(--Black);
}

#searchBar:focus{
    /* transition: 100ms; */
    background-color: var(--WhiteFocus);
  outline: var(--AlmostTransparent) solid 0px;
}

#searchBar:hover{
    transition: 100ms;
    background-color: var(--WhiteFocus);
}

#lupa{
    height: 1.5rem;
    width: 1.5rem;
    z-index: 2;
    position: absolute;
    right: calc(1.5rem + 5vw);
    top: 2.25rem;
    cursor: pointer;
}
#lupa:hover{
    transition: 100ms;
    transform: scale(110%);
}