:root{
    --AccentColor: #B6B7CF;
    --SecondAccentColor: #605869;
    --BaseColor: #322c40;
    --WhiteGray: #f2f2f2;
    --OtherWhiteGray: #e2e2e2;
    --LightGray: #dddddd;
    --White: #ffffff;
    --Black: #000000;
    --AzulClaroBkg: #80b9e0; 
    --RealDarkBlue: #1f1926;
    --TransparentDarkBlue: #1f19269f;
    --ExtremelyTransparentDarkBlue: #1f192600;
    --LightGrayBlue: #6c6e8c;
    --AlmostWhite: #f0f0f0;
    --AlmostTransparent: #0000001f;
    --WhiteHover: #d1d1d1;
    --WhiteFocus: #fdfdfd;

}