@import "./root.css";

.sidenavCalc {
    height: 100vh;
    top: 0px;
    margin: 0px;
    background-color: var(--BaseColor);
    z-index: 9995;
    width: 40vw; 
    left: -40vw; 
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px;
}

.calcShadow{
    height: 94vh; 
    top: 3vh;
    width: 36vw; 
    margin-left: 2vw; 
    border-radius: 15px; 
    position: absolute;
    background-color: blue;
}

#hideCalcRight{
    background-color:var(--BaseColor); 
    right: 0px;
    height: 100vh; 
    width:2vw; 
    position: absolute; 
    z-index: 99999;
}

.divNumeros{
    grid-template-columns: auto auto auto; 
    background-color:var(--RealDarkBlue); 
    top: 30vh; 
    height:64vh; 
    width:24vw; 
    position: absolute; 
    border-bottom-left-radius: 15px;
}

.sidenavDraw {
    height: 100%;
    width: 0%;
    top: 0;
    margin: 0;
    background-color: var(--AccentColor);
    padding-top: 60px;
}

#btnMyUp{
    top: 50vh; 
    left: calc(100vw - 3.5rem); 
    background-color: var(--BaseColor); 
    z-index: 9983;
}
#btnMyCalc{
    top: 45vh; 
    background-color: var(--BaseColor);
}

.base{
    position: fixed;
    overflow-x: hidden;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    margin-top: 0%;
    margin-bottom: 100%;
}
.sla{
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;

    width: 100vw; 
    height: 100vh; 
    z-index: 9984; 
    pointer-events: none;
}
.pill{
    height: 5rem;
    width: 7rem;
    cursor: pointer;
    z-index: 9990;
    top: 45%; 
    left: -3.5rem;
}

.basic_instruments{
    height: max(5vw, 2rem);
    width: max(5vw, 2rem);
    cursor: pointer;
    position: absolute;
    top:5vh;
    transition: .1s transform, .1s -webkit-transform;
}

.index7{
    z-index: 7;
}

.index6{
    z-index: 6;
    opacity: 0;
}

.eraser{
    left: 2vw;
}
.pen{
    left: calc(2vw + max(5vw, 2rem));
}
.basic_instruments:hover{
    transform: scale(1.02);
}

#myCanvas{
    /* height: 90vh;
    width: 55vw; */
    background-color:var(--White);
    margin-left: 0px;
    border-radius: 15px;
    position: absolute;
    /* border: 3px dotted var(--Black); */
}
#myCanvas:hover{
    /* cursor: crosshair; */
    cursor: none;
}

#mouseFollower {
    position: absolute;
    opacity: 0;
    border: 1px solid var(--Black);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    pointer-events: none; /* Evita que o círculo interfira com eventos do mouse */
}

#btnDraw{
    height:2.5rem;
    width: auto;
    margin-top: 1.25rem;
    margin-left: 3.5rem;
    transition: transform 0.3s; 
    transform: rotate(180deg);
}

.BTNFile:hover {
    cursor: pointer;
}

.BTNFile {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
}

#btnMyDraw{
    top: calc(45vh + 5rem); 
    background-color: var(--AccentColor);
}

#myDraw{
    z-index: 9995; 
    height: 100vh; 
    max-height: 100vh; 
    width: max(70%, 20rem); 
    left: min(-70%, -20rem); 
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px; 
    overflow-y: hidden;
}

.up{
    height: 2.5vh; 
    min-height: 10px;
    width: 100%;  
    position: absolute; 
    top: 0vh; 
    left: 0px;
    
}

.down{
    height:2.5vh; 
    width: 100%; 
    transform: rotate(180deg); 
    position: absolute; 
    top: 0vh; 
    left: 0px;
}

#divSave{
    width: 12vw; 
    right: 1vw; 
    bottom: 5vh; 
    position: absolute;
}

.BTNsave{
    margin: 0px; 
    width: 100%; 
    height: max(3vw, 1rem); 
    font-size: max(1.1vw, 1rem);
    background-color: var(--BaseColor);
    color: var(--White);
    border: 0px;
    border-radius: 15px;
}


#BTNDesktop{
    height: max(4vw, 1rem);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.trash{
    height: 2rem; 
    width:2rem; 
    top: calc(5vh + 0.5rem); 
    right: calc(2vw - 1rem); 
    cursor: pointer; 
    float: right; 
    position: absolute;
}

#divDrawBoxes{
    width: 13vw; 
    height: 12vh; 
    min-height: 45px;
    bottom: calc(max(3vw, 1rem) + max(4vw, 1rem) + 5vh + 20px); 
    position: absolute;
}

#btnFile{
    height:2.5rem;
    width: auto;
    margin-top: 1.25rem;
    margin-left: 0.75rem;
}

input[type="file"] {
    opacity: 0;
    height: 5rem;
    width: 7rem;
    top: 0%;
    position: absolute;
    left: 0px;
    cursor: pointer;
}

#btnCalc{
    height:2.5rem;
    width: auto;
    margin-top: 1.25rem;
    margin-left: 3.5rem;
    transition: transform 0.3s; 
    transform: rotate(180deg);
}

#sizeRange{
    position: absolute;
    left: 0vh;
    width: 96.5%;
    top: 0px;
    min-height: 20px;
    height: 5vh;
    width: 12vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
#sizeText{
    position: absolute;
    width: 40px; 
    min-height: 20px; 
    text-align: center;
    height: 5vh;
    margin: 0px; 
    background-color:var(--White);
    bottom:0px;
    left: 1vw;
}

#drawBoxDown{
    /* margin-top: max(calc(2.5vh + 1px), 11px); */
    bottom: 0px;
}

.BTNIncrease{
    width: 1vw; 
    height: calc(2.5vh - 1px);
    min-width: 30px; 
    min-height: 10px; 
    position: absolute;
    bottom: max(calc(2.5vh + 1px), 11px);
    left: calc(45px + 1vw);
    border-radius: 15px;
    border: 0px;
    background-color: var(--AccentColor);
}
#ColPck{
    position: absolute;
    margin: 0px;
    height: 5vh;
    width: calc(12vw - 50px - 2vw);
    min-width: 30px;
    min-height: 20px;
    bottom: 0px;
    left: calc(50px + 3vw);
    border: 0px;
    padding: 3px;
    background-color: var(--AccentColor);
}